<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--<title>Registration Form in HTML CSS</title>-->
  <!---Custom CSS File--->

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/cmp.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  backface-visibility: inherit;
}

h1 {
  text-align: center;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fbfeff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(57, 18, 251);
}

.form button:hover {
  background: rgb(88, 56, 250);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
  </style>
</head>

<body>
  <div>
    <h1 style="margin-bottom: 30px; margin-top: 30px;">Company Details</h1>
    <section class="container">
      <!-- <header>Registration Form</header> -->
      <form action="/cRegister" method="post" class="form">
        <div class="input-box">
          <label>Company Name</label>
          <input type="text" placeholder="Enter Company Name" name="name" required />
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input type="text" id="email" placeholder="Enter email address" name = "email" required />
          <span id="emailError" style="color: red;"></span>
        </div>

        <div class="input-box">
          <label>Location</label>
          <input type="text" placeholder="Enter Company location" name = "location" />
        </div>

        <div class="input-box">
          <label>Password</label>
          <input type="text" id="password" placeholder="Enter Password" name = "password" required />
          <span id="passwordError" style="color: red" class="error"></span>
        </div>

        <div class="input-box">
          <label>Confirm Password</label>
          <input type="text" id="cpassword" placeholder="Enter Confirm Password" required />
          <span id="cpasswordError" style="color: red" class="error"></span>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Package Offered</label>
            <input type="number" placeholder="Enter Package Offered" name="package"/>
          </div>
          <div class="input-box">
            <label>Start Date</label>
            <input type="date" placeholder="Enter birth date" name="startingDate" required />
          </div>
          <div class="input-box">
            <label>End Date</label>
            <input type="date" placeholder="Enter birth date" name="endingDate" required />
          </div>
        </div>

        <div class="input-box address">
          <label>Company Description</label>
          <input type="text" placeholder="Enter Company Description" name="description" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label>10th Marks required</label>
            <input type="number" id="marks" placeholder="Enter 10th Marks required" name="marks10"/>
            <span id="marksError" style="color: red" class="error"></span>
          </div>
          <div class="input-box">
            <label>12th Marks required</label>
            <input type="number" id="mark" placeholder="Enter 12th Marks required" name="marks12" />
            <span id="markError" style="color: red" class="error"></span>
          </div>
          <div class="input-box">
            <label>cgpa required</label>
            <input type="number" id="cgpa" placeholder="Enter cgpa required" name="cgpa" />
            <span id="cgpaError" style="color: red" class="error"></span>
          </div>
        </div> 
        <button id="submitBtn" type="submit">Submit</button>
      </form>
  </div>
  </section>


  <script>
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('emailError');

    emailInput.addEventListener('input', () => {
      const email = emailInput.value.trim();
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (emailRegex.test(email)) {
        emailError.textContent = '';
      } else {
        emailError.textContent = 'Invalid email format';
      }
    });
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var passwordInput = document.getElementById('password');
      var confirmPasswordInput = document.getElementById('cpassword');
      var passwordError = document.getElementById('passwordError');
      var confirmPasswordError = document.getElementById('cpasswordError');

      passwordInput.addEventListener('input', validatePassword);
      confirmPasswordInput.addEventListener('input', validatePassword);

      function validatePassword() {
        var password = passwordInput.value;
        var confirmPassword = confirmPasswordInput.value;

        if (password.trim() === "") {
          passwordError.textContent = "Please enter a password.";
        } else {
          passwordError.textContent = "";
        }

        if (confirmPassword.trim() === "") {
          confirmPasswordError.textContent = "Please confirm your password.";
        } else if (confirmPassword !== password) {
          confirmPasswordError.textContent = "Passwords do not match.";
        } else {
          confirmPasswordError.textContent = "";
        }
      }
    });
  </script>


  <!-- //marks 10-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var marksInput = document.getElementById('marks');
      var marksError = document.getElementById('marksError');

      marksInput.addEventListener('input', function () {
        var marks = marksInput.value;
        var numericRegex = /^\d*\.?\d+$/; // Regular expression to allow decimal values
        var minMarks = 0; // Minimum marks allowed
        var maxMarks = 100; // Maximum marks allowed

        if (marks.trim() === "") {
          marksError.textContent = "Please enter the marks.";
        } else if (!numericRegex.test(marks)) {
          marksError.textContent = "Marks should be a valid numeric value.";
        } else {
          var marksValue = parseFloat(marks);
          if (marksValue < minMarks || marksValue > maxMarks) {
            marksError.textContent = "Enter Correct Value";
          } else {
            marksError.textContent = "";
          }
        }
      });
    });
  </script>

  <!-- //marks 12 -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var marksInput = document.getElementById('mark');
      var marksError = document.getElementById('markError');

      marksInput.addEventListener('input', function () {
        var marks = marksInput.value;
        var numericRegex = /^\d*\.?\d+$/; // Regular expression to allow decimal values
        var minMarks = 0; // Minimum marks allowed
        var maxMarks = 100; // Maximum marks allowed

        if (marks.trim() === "") {
          marksError.textContent = "Please enter the marks.";
        } else if (!numericRegex.test(marks)) {
          marksError.textContent = "Marks should be a valid numeric value.";
        } else {
          var marksValue = parseFloat(marks);
          if (marksValue < minMarks || marksValue > maxMarks) {
            marksError.textContent = "Enter Correct Value";
          } else {
            marksError.textContent = "";
          }
        }
      });
    });
  </script>

  <!-- //cgpa-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var marksInput = document.getElementById('cgpa');
      var marksError = document.getElementById('cgpaError');

      marksInput.addEventListener('input', function () {
        var marks = marksInput.value;
        var numericRegex = /^\d*\.?\d+$/; // Regular expression to allow decimal values
        var minMarks = 0; // Minimum marks allowed
        var maxMarks = 10; // Maximum marks allowed

        if (marks.trim() === "") {
          marksError.textContent = "Please enter the cgpa.";
        } else if (!numericRegex.test(marks)) {
          marksError.textContent = "cgpa should be a valid numeric value.";
        } else {
          var marksValue = parseFloat(marks);
          if (marksValue < minMarks || marksValue > maxMarks) {
            marksError.textContent = "Enter Correct Value";
          } else {
            marksError.textContent = "";
          }
        }
      });
    });
  </script>

</body>

</html>