<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Admin.css" />
    <link rel="stylesheet" href="css/simple-datatable.css" />
  <script src="js/simple-datatable.js"></script>
  <style>
    .add-button, .remove-button {
      width: 50px;
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      margin-right: 10px;
    }
  
    .add-button:last-child, .remove-button:last-child {
      margin-right: 0;
    }
  
    .add-button {
      background-color: #4CAF50;
      color: white;
    }
  
    .remove-button {
      background-color: #FF5722;
      color: white;
    }
  
    .add-button:hover, .remove-button:hover {
      background-color: #45a049;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }


    .detail-button {
    background-color: #4287f5; /* Lighter blue color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .detail-button:hover{
    background-color: #1f5bcf; /* Darker shade of blue on hover */
    cursor: pointer;
  }
  </style>
  
  
  profile
  
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/favicon-16x16.png" alt="Logo" />
            <h2 style="
            font-size: 17px;
            font-weight: bold;
            color: blue;
        ">Placement Helper</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a href="#" class="active">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Students</h3>
          </a>

          <a href="#">
            <span class="material-icons-sharp"> insights </span>
            <h3>Company Details</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>Applied</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> mail_outline </span>
            <h3>Feedbacks</h3>
            <span class="message-count">26</span>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> add </span>
            <h3>Add Company</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
    <div class="home">
        <main>
          <h1>Dashboard</h1>
  
          <div class="date">
            <input type="date" />
          </div>
  
          <div class="insights">
            <!-- SALES -->
            <div class="sales">
              <span class="material-icons-sharp"> analytics </span>
              <div class="middle">
                <div class="left">
                  <h3>Total Verified Students</h3>
                  <h1>600</h1>
                </div>
                <div class="progress">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="number">
                    <p>81%</p>
                  </div>
                </div>
              </div>
              <small class="text-muted">This Year</small>
            </div>
  
            <!-- EXPENSES -->
            <div class="expenses">
              <span class="material-icons-sharp"> bar_chart </span>
              <div class="middle">
                <div class="left">
                  <h3>Total unverfied students</h3>
                  <h1>100</h1>
                </div>
                <div class="progress">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="number">
                    <p>62%</p>
                  </div>
                </div>
              </div>
              <small class="text-muted">This Year</small>
            </div>
  
            <!-- INCOME -->
            <div class="income">
              <span class="material-icons-sharp"> stacked_line_chart </span>
              <div class="middle">
                <div class="left">
                  <h3>Total Companies</h3>
                  <h1>60</h1>
                </div>
                <div class="progress">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="number">
                    <p>44%</p>
                  </div>
                </div>
              </div>
              <small class="text-muted">This Year</small>
            </div>
          </div>
  
          <div class="recent-orders">
            <h2>Recent Unverified Student</h2>
            <table id="unverified">
              <thead>
                <tr>
                  <th class="sortable">ID</th>
                  <th class="sortable">Name</th>
                  <th class="sortable">Enrollment No</th>
                  <th class="sortable">Email</th>
                  <th class="sortable">Resume</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Ankit</td>
                  <td>10006</td>
                  <td>Ap@gmai.com</td>
                  <td><button class="detail-button">Resume</button></td>
                  <td> <button class="add-button" onClick="alert('You clicked row id ${data[0]}')">&#10004;</button>
                       <button class="remove-button" onClick="alert('You clicked row id ${data[0]}')">&#10008;</button></td>
                </tr>
              </thead>
            </table>
            <a href="#">Show All</a>
          </div>
        </main>
      </div>
<div class="studentdetails">
      <main>
        <h1>Student Details</h1>

        <div class="date">
          <input type="date" />
        </div>


        <div class="recent-orders">
          <h2>Recent Unverified Student</h2>
          <table id="unverified2">
            <thead>
              <tr>
                <th class="sortable">ID</th>
                <th class="sortable">Name</th>
                <th class="sortable">Enrollment No</th>
                <th class="sortable">Email</th>
                <th class="sortable">Resume</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
          <a href="#">Show All</a>
        </div>
        <div class="recent-orders">
          <h2>Verified Student</h2>
          <table id="verified">
            <thead>
              <tr>
                <th class="sortable">ID</th>
                <th class="sortable">Name</th>
                <th class="sortable">Enrollment No</th>
                <th class="sortable">Email</th>
                <th class="sortable">Resume</th>
              </tr>
            </thead>
          </table>
          <a href="#">Show All</a>
        </div>
      </main>
    </div>

  <div class="companylist">
      <main>
        <h1>Total Companies</h1>

        <div class="date">
          <input type="date" />
        </div>


        <div class="recent-orders">
          <h2>Total Companies</h2>
          <table id="totalCompanylist">
            <thead>
              <tr>
                <th class="sortable">ID</th>
                <th class="sortable">Name</th>
                <th class="sortable">Location</th>
                <th class="sortable">Package</th>
                <th class="sortable">Applied Student</th>
              </tr>
            </thead>
          </table>
          <a href="#">Show All</a>
        </div>
        <div class="recent-orders">
          <h2>Upcoming Companies</h2>
          <table id="Upcompanies">
            <thead>
              <tr>
                <th class="sortable">ID</th>
                <th class="sortable">Name</th>
                <th class="sortable">Location</th>
                <th class="sortable">Package</th>
                <th class="sortable">Dates</th>
              </tr>
            </thead>
          </table>
          <a href="#">Show All</a>
        </div>
        <h2>Past Companies</h2>
        <table id="pastcompanies">
          <thead>
            <tr>
              <th class="sortable">ID</th>
              <th class="sortable">Name</th>
              <th class="sortable">Location</th>
              <th class="sortable">No Of hired Student</th>
              <th class="sortable">See Placed Student </th>
            </tr>
          </thead>
        </table>
        <a href="#">Show All</a>
      </main>
    </div>


      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp"> menu </span>
          </button>
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Bruno</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="images/profile-1.jpg" alt="Profile Picture" />
            </div>
          </div>
        </div>

        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <!-- Add updates div here | JS insertion -->
        </div>

      </div>
    </div>
    <script>
// const unverified = [
//   [1, "Ridham Khandar", '809878', "ridh@example.com", "images/profile-2.jpg", "Detail 1"],
//   [2, "Ankit Pandey", '808080', "ANkit@example.com", "images/profile-1.jpg", "Detail 2"],
//   [3, "Piyush Mohata", '9980808', "piyush@example.com", "images/profile-3.jpg", "Detail 3"],
//   [4, "Dhiraj Mohata", '797989', "dhiraj@example.com", "images/profile-1.jpg", "Detail 4"],
//   [5, "Julie Black", '1029898', "julie5@example.com", "images/profile-2.jpg", "Detail 5"],
//   // ...
// ];

// new simpleDataTable('unverified', unverified, {
//   onRowRender: function(data, column) {
//     column[1] = `<td style="display:flex; align-items:center;">
//       <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
//       </td>`;
//     column[4] = `<td><button class="detail-button">Resume</button></td>`;
//     column[5] = `<td>
//       <button class="add-button" onClick="alert('You clicked row id ${data[0]}')">&#10004;</button>
//       <button class="remove-button" onClick="alert('You clicked row id ${data[0]}')">&#10008;</button>
//       </td>`;
//     return column;
//   },
//   itemsPerPage: 5,
//   pageSelection: [5, 10, 20, 50, 100],
//   fontFamily: "'Segoe UI', arial, sans-serif",
//   title: '',
//   height: '17rem',
//   searchableColumns: [],
// });





new simpleDataTable('unverified2', unverified, {
  onRowRender: function(data, column) {
    column[1] = `<td style="display:flex; align-items:center;">
      <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
      </td>`;
    column[4] = `<td><button class="detail-button">Resume</button></td>`;
    column[5] = `<td>
      <button class="add-button" onClick="alert('You clicked row id ${data[0]}')">&#10004;</button>
      <button class="remove-button" onClick="alert('You clicked row id ${data[0]}')">&#10008;</button>
      </td>`;
    return column;
  },
  itemsPerPage: 5,
  pageSelection: [5, 10, 20, 50, 100],
  fontFamily: "'Segoe UI', arial, sans-serif",
  title: '',
  height: '17rem',
  searchableColumns: [],
});


const verified = [
  [1, "John Doe", '809878', "john1@example.com", "avatar1.png", "Detail 1"],
  [2, "Jane Smith", '808080', "jane2@example.com", "avatar2.png", "Detail 2"],
  [3, "Jim Brown", '9980808', "jim3@example.com", "avatar3.png", "Detail 3"],
  [4, "Jake White", '797989', "jake4@example.com", "avatar4.png", "Detail 4"],
  [5, "Julie Black", '1029898', "julie5@example.com", "avatar5.png", "Detail 5"],
  // ...
];

new simpleDataTable('verified', verified, {
  onRowRender: function(data, column) {
    column[1] = `<td style="display:flex; align-items:center;">
      <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
      </td>`;
    column[4] = `<td><button class="detail-button">Resume</button></td>`;
    // Remove column[5] since it's no longer needed
    return column;
  },
  itemsPerPage: 5,
  pageSelection: [5, 10, 20, 50, 100],
  fontFamily: "'Segoe UI', arial, sans-serif",
  title: '',
  height: '17rem',
  searchableColumns: [],
});

const totalcomapny = [
  [1, "Googel", 'Banglore', "50 laks", "avatar1.png", "Detail 1"],
  [2, "Amazon", 'Ahmedabad', "50 crore", "avatar2.png", "Detail 2"],
  [3, "Apple", 'Chennai', "100 crore", "avatar3.png", "Detail 3"],
  [4, "Facebook", 'Delhi', "4 thousand", "avatar4.png", "Detail 4"],
  [5, "Microsoft", 'Mumbai', "4 Hundred", "avatar5.png", "Detail 5"],
  // ...
];

new simpleDataTable('totalCompanylist', totalcomapny, {
  onRowRender: function(data, column) {
    column[1] = `<td style="display:flex; align-items:center;">
      <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
      </td>`;
    column[4] = `<td><button class="detail-button">Applied Students</button></td>`;
    // Remove column[5] since it's no longer needed
    return column;
  },
  itemsPerPage: 5,
  pageSelection: [5, 10, 20, 50, 100],
  fontFamily: "'Segoe UI', arial, sans-serif",
  title: '',
  height: '17rem',
  searchableColumns: [],
});



const upcomingcomapny = [
  [1, "Google", 'Banglore', "50 lakh",  "20/02/2024","avatar1.png"],
  [2, "Amazon", 'Ahmedabad', "50 crore", "24/03/2024","avatar2.png",],
  [3, "Apple", 'Chennai', "100 crore",  "12/04/2024","avatar3.png",],
  [4, "Facebook", 'Delhi', "4 thousand", "22/05/2024","avatar4.png",],
  [5, "Microsoft", 'Mumbai', "4 Hundred",  "28/05/2024","avatar4.png",],
  // ...
];

new simpleDataTable('Upcompanies', upcomingcomapny, {
  onRowRender: function(data, column) {
    column[1] = `<td style="display:flex; align-items:center;">
      <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
      </td>`;
    
    // Remove column[5] since it's no longer needed
    return column;
  },
  itemsPerPage: 5,
  pageSelection: [5, 10, 20, 50, 100],
  fontFamily: "'Segoe UI', arial, sans-serif",
  title: '',
  height: '17rem',
  searchableColumns: [],
});



const Pastcomapny =  [
  [1, "Googel", 'Banglore', "50", "avatar1.png", "Detail 1"],
  [2, "Amazon", 'Ahmedabad', "20", "avatar2.png", "Detail 2"],
  [3, "Apple", 'Chennai', "30", "avatar3.png", "Detail 3"],
  [4, "Facebook", 'Delhi', "10", "avatar4.png", "Detail 4"],
  [5, "Microsoft", 'Mumbai', "60", "avatar5.png", "Detail 5"],
  // ...
];

new simpleDataTable('pastcompanies', Pastcomapny, {
  onRowRender: function(data, column) {
    column[1] = `<td style="display:flex; align-items:center;">
      <img src="${data[4]}" style="width:30px; border-radius:50%; margin-right:5px;" /> <span>${data[1]}</span>
      </td>`;
    column[4] = `<td><button class="detail-button">See Placed</button></td>`;
    return column;
  },
  itemsPerPage: 5,
  pageSelection: [5, 10, 20, 50, 100],
  fontFamily: "'Segoe UI', arial, sans-serif",
  title: '',
  height: '17rem',
  searchableColumns: [],
});





    </script>



<script>
  // Get the necessary elements
const studentsLink = document.querySelector('.sidebar a:nth-child(2)');
const studentsLink2 = document.querySelector('.sidebar a:nth-child(1)');
const homeDiv = document.querySelector('.home');
const studentDetailsDiv = document.querySelector('.studentdetails');
studentDetailsDiv.style.display = 'none';


// Add click event listener to the students link
studentsLink.addEventListener('click', () => {
  // Hide the home div
  homeDiv.style.display = 'none';
  
  // Show the student details div
  studentDetailsDiv.style.display = 'block';
});

// Add click event listener to the students link
studentsLink2.addEventListener('click', () => {
  // Hide the home div
  studentDetailsDiv.style.display = 'none';
  // Show the student details div
  homeDiv.style.display = 'block';
});

</script>
<script>
  // Get the necessary elements
const studentsLink3 = document.querySelector('.sidebar a:nth-child(3)');
const companyDiv = document.querySelector('.companylist');

companyDiv.style.display = 'none';

// Add click event listener to the students link
studentsLink3.addEventListener('click', () => {
  // Hide the home div
  homeDiv.style.display = 'none';
  studentDetailsDiv.style.display = 'none';
  // Show the student details div
  companyDiv.style.display = 'block';
});



</script>

    <script src="js/constants/recent-order-data2.js"></script>
    <script src="js/constants/update-data2.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
