<aside>
  <!-- logo here -->
  <div class="top">
    <div class="logo">
      <img src="/images/favicon-16x16.png" alt="Logo" />
      <h2 style="font-size: 17px; font-weight: bold; color: blue;">Placement Helper</h2>
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp"> close </span>
    </div>
  </div>

  <!-- sidebar here -->
  <div class="sidebar">
    <a href="#" class="active" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> dashboard </span>
      <h3>Dashboard</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> person_outline </span>
      <h3>Students</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> insights </span>
      <h3>Company Details</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> receipt_long </span>
      <h3>Applied</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> receipt_long </span>
      <h3>Feedback</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> add </span>
      <h3>Add Company</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> add </span>
      <h3>Add Notice</h3>
    </a>
    <a href="#" onclick="changeActiveLink(this)">
      <span class="material-icons-sharp"> add </span>
      <h3>Add Admin</h3>
    </a>
    <a href="#">
      <span class="material-icons-sharp"> logout </span>
      <h3>Logout</h3>
    </a>
  </div>
</aside>
