<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <title>Notes for Students</title>
    <link rel="stylesheet" href="css/notes1.css"> <!-- Add the link to your CSS file -->
</head>

<body>
    <div class="wrapper">
        <div class="center-content">
            <h1 text-align="center" color="black">Notes for Students</h1>
        </div>

        <div class="container">
            <h2>Data Structure</h1>
                <p>
                    Data structure is a way of organizing and storing data in a computer so that it can be accessed and
                    modified
                    efficiently.
                    It provides a means to manage and organize data with different operations like insertion, deletion,
                    and
                    retrieval.
                    Common data structures include arrays, linked lists, stacks, queues, trees, and graphs.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\Dsa.pdf" target="_blank" class="pdf-link">Download Data Structure PDF</a><br>
                <a href="\images\notes_pdf\Data Structure Interview Questions & Answer.pdf" target="_blank"
                    class="pdf-link">Download Data Structure PDF</a>
        </div>


        <div class="container">
            <h2>Dynamic Programming</h1>
                <p>
                    Dynamic Programming is a powerful algorithmic technique used to solve problems by breaking them down
                    into
                    smaller
                    overlapping subproblems and then solving each subproblem only once, storing its solution, so that it
                    can be
                    directly
                    used to solve similar subproblems in the future. It is particularly useful for optimization problems
                    and
                    problems that
                    exhibit overlapping substructure.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\dp notes (1).pdf" target="_blank" class="pdf-link">Download Dynamic
                    Programming PDF</a>
        </div>


        <div class="container">
            <h2>DBMS notes</h1>
                <p>
                    DBMS (Database Management System) is a software system that facilitates the management,
                    organization, storage,
                    retrieval, and manipulation of data in a database. It acts as an intermediary between end-users and
                    the physical
                    database, providing an interface for users to interact with the data in a structured and efficient
                    manner. DBMS
                    plays a crucial role in various applications and industries, including business, education, finance,
                    healthcare,
                    and more.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\dbms notes.pdf" target="_blank" class="pdf-link">Download Dbms Notes
                    PDF</a><br>
                <a href="\images\notes_pdf\Keys In SQL.pdf" target="_blank" class="pdf-link">Download Keys In SQL
                    PDF</a>
        </div>


        <div class="container">
            <h2>OOPs notes</h1>
                <p>
                    It's essential to have a solid understanding of these OOP concepts and be able to apply them to
                    real-world
                    scenarios during your interview. Interviewers often ask questions related to designing class
                    hierarchies,
                    implementing inheritance, solving problems using polymorphism, and demonstrating a good
                    understanding of encapsulation
                    and abstraction. Be prepared to write code examples and explain your thought process while applying
                    these OOP
                    principles. Additionally, practice designing classes and solving OOP-related problems on paper or a
                    whiteboard to
                    improve your problem-solving skills during interviews.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\ObjectOrientedProgrammingInterviewQuestions (1).pdf" target="_blank"
                    class="pdf-link">Download OOPs Notes PDF</a>
        </div>


        <div class="container">
            <h2>Graph data structure</h1>
                <p>
                    Graph data structure is a fundamental concept in computer science and is commonly asked in
                    interviews for
                    programming and software engineering roles. Graphs are versatile data structures used to model
                    relationships
                    and connections between various entities.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\Dsa.pdf" target="_blank" class="pdf-link">Download Graph data structure
                    PDF</a>
        </div>


        <div class="container">
            <h2>CN notes</h1>
                <p>
                    Computer Networks (CN) is a crucial topic for interview preparation, especially for roles related to
                    networking,
                    system administration, and software engineering. Understanding computer networks is essential for
                    building and
                    maintaining distributed systems and services.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\cn notes.pdf" target="_blank" class="pdf-link">Download CN notes PDF</a>
        </div>


        <div class="container">
            <h2>OS notes</h1>
                <p>
                    Operating Systems (OS) is an essential topic for interview preparation, especially for roles related
                    to system
                    administration, software development, and system design. Understanding operating systems is crucial
                    for building
                    efficient and reliable software and managing computer resources effectively.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\os notes.pdf" target="_blank" class="pdf-link">Download OS notes PDF</a>
        </div>


        <div class="container">
            <h2>Linux Commands</h1>
                <p>
                    Prepare for your interview by familiarizing yourself with these essential Linux commands. Be ready
                    to explain
                    the purpose and usage of each command, demonstrate how to use them effectively, and discuss common
                    use cases for
                    different Linux commands. Practice working with Linux commands in a terminal or command-line
                    environment to
                    improve your efficiency and comfort with the Linux operating system during interviews.
                </p>
        </div>

        <div class="container">
            <h3>PDF File</h2>
                <p>Click the link below to download/view the PDF file:</p>
                <a href="\images\notes_pdf\linux-commands-handbook.pdf" target="_blank" class="pdf-link">Download Linux
                    Commands PDF</a>
        </div>
    </div>






    <div class="box">
        <div>Webpage visit count:</div>
        <div class="website-counter"></div>
        <button id="reset">Reset</button>
    </div>

    <script>
        var counterContainer = document.querySelector(".website-counter");
        var resetButton = document.querySelector("#reset");
        var visitCount = localStorage.getItem("page_view");

        // Check if page_view entry is present
        if (visitCount) {
            visitCount = Number(visitCount) + 1;
            localStorage.setItem("page_view", visitCount);
        } else {
            visitCount = 1;
            localStorage.setItem("page_view", 1);
        }
        counterContainer.innerHTML = visitCount;

        // Adding onClick event listener
        resetButton.addEventListener("click", () => {
            visitCount = 1;
            localStorage.setItem("page_view", 1);
            counterContainer.innerHTML = visitCount;
        });
    </script>

</body>

</html>