<form action="/admin" method="post">
    <input type="text" name="Add" placeholder="New Notice">
    <button type="submit" name="submit">Add Note</button>
</form> 

<form action="/delete" method="post">
<% for(var i=0; i<addNotice.length; i++) { %>
  <div>
      <input type="checkbox" name="checkbox" value="<%=addNotice[i]._id%>" onchange="this.form.submit()">
      <p> <%= addNotice[i].note %> </p>
  </div>
<% } %>
<button type="submit" name="submit">delete Note</button>
</form> 