<section id="contact" class="footer_wrapper mt-3 mt-md-0">
    <div class="container mt-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="footer-logo mb-3 mb-md-0">
                </div>
                <div class="my-4 social-icons">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled d-flex justify-content-center align-items-center">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <p class="footer-text text-center my-2">Copyright © 2023 All rights reserved 
                    is made with <i class="far fa-heart"></i> by <a href="#">border-radius</a>
                </p>

            </div>
        </div>
    </div>
</section>

<!-- Footer section exit -->

<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<!-- Custom Js Link -->
<script src="js/main.js"></script>
</body>

</html>
