<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Placement </title>

    <!-- FAVICON -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

    <!-- Bootstrap 5 CDN Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive-style.css">

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="75">
    <!-- Navbar section -->
    <%- include("header"); -%>
    <!-- Navbar section exit -->

    <!-- Banner section -->
    <section id="home" class="banner_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-lg-1 order-2 banner-content">
                    <h2 class="text-uppercase position-relative">Hell0</h2>
                    <h1 class="text-uppercase">Welcome To Placement Helper</h1>
                    <h5 class="text-uppercase">From UVPCE</h5>
                    <div class="mt-5">
                        <a class="main-btn primary-btn" href="#">Login</a>
                        <a class="main-btn secondary-btn ms-4" href="#">Register</a>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="top-right-img">
                        <img decoding="async" src="images/home-right.webp" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section exit -->

    <!-- About section -->
    <section id="about" class="about_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <img decoding="async" src="images/about-us.webp" class="img-fluid" alt="About Us">
                </div>
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <h3>Basic <br>Introduction about <br>Placement Helper</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae veniam dignissimos error quia
                        ipsam quos rem magni dolores doloribus.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae veniam dignissimos error quia
                        ipsam quos rem magni dolores doloribus. Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Beatae veniam dignissimos error quia ipsam quos rem magni dolores doloribus.</p>
                    <a href="#" class="main-btn primary-btn mt-4">Study Materials</a>

                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="row">

                        <% for(var i=0; i<photo.length; i++) { %>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="<%= photo[i] %>" class="img-fluid">
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-4 col-md-10">
                    <div class="client-info">
                        <div class="d-flex">
                            <span class="large">25</span>
                            <span class="smll">Years <br>of <br>Excellence</span>
                        </div>
                        <!-- <div class="call-now d-flex py-4">
                            <div>
                                <span class="fa fa-phone-alt"></span>
                            </div>
                            <div class="ms-4">
                                <p>call us now</p>
                                <h5>(+1)-800-555-6789</h5>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- About section exit -->

    <!-- Footer section -->
    <%- include("footer"); -%>
    <!-- Footer section Exit -->

