<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-Vi0pXNt8n5soeH3M2o5+r0S4BoHu9qbK1T+oWJFcTkA4i8ffk8Q6sojjP2BtxPx+/kw5cImDfW+scz1w2vf1Ow=="
    crossorigin="anonymous" />

  <!-- My CSS -->
  <link rel="stylesheet" href="css/Studentdashboard.css">
  <link rel="stylesheet" href="css/Profile.css">
  <link rel="stylesheet" href="css/Update.css">
  <title>Placement helper</title>


  <style>
    .user-info {
      display: flex;
      align-items: center;
    }

    .about {
      margin-left: 80px;
    }

    .main2 {
      display: none;
    }

    /* Media query for screens with a maximum width of 600px */
    @media (max-width: 600px) {
      .user-info {
        flex-direction: column;
      }

      .about {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    /* Media query for screens with a maximum width of 1200px */
    @media (max-width: 1200px) {
      .about {
        margin-left: 40px;
      }
    }
  </style>
</head>

<body>


  <!-- SIDEBAR -->
  <section id="sidebar">

    <a href="#" class="brand">
      <img src="../public/images/img/favicon-32x32.png" <span="" class="text"
        style="margin-left: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text">Placement Helper</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard'></i>
          <span class="text">My Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class="update-profile">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Update Profile</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-doughnut-chart'></i>
          <span class="text">Sessions</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-message-dots'></i>
          <span class="text">Feedback</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle'></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->



  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu'></i>

      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Search...">
          <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <div class="dot">
        <a href="#" class="notification">
          <i class='bx bxs-bell'></i>
          <span class="num">8</span>
        </a>&nbsp; &nbsp;
        <a href="#" class="profile">
          <img src="https://randomuser.me/api/portraits/women/79.jpg">
        </a>
      </div>

    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>UserProfile</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" href="#">Profile</a>
            </li>
          </ul>
        </div>
        <a href="#" class="btn-download">
          <i class='bx bxs-cloud-download'></i>
          <span class="text">Download Resume</span>
        </a>
      </div>
      <div class="table-data">

        <div class="card-container ">

          <!-- <span class="pro">PRO</span> -->
          <div class="user-info">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <div class="about">
              <h3>Ricky Park</h3>
              <h6>New York</h6>
              <p>User interface designer and <br /> front-end developer</p>
            </div>
          </div>

          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="skills">
            <h6>Skills</h6>
            <ul>
              <li>UI / UX</li>
              <li>Front End Development</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>React</li>
              <li>Node</li>
            </ul>
          </div>
        </div>

        <section class="main-course">
          <div class="course-box">
            <ul>
              <li class="active">In progress Companies</li>
              <li>Explore Other Companies</li>
              <li>Upcoming Companies</li>
              <li>Finished Companies</li>
            </ul>
            <div class="course">
              <div class="box">
                <h3>Google</h3>
                <p>80% - Filled</p>
                <button>Apply</button>
                <i class=" fab fa-css3-alt css"></i>
              </div>
              <div class="box">
                <h3>Google</h3>
                <p>80% - Filled</p>
                <button>Apply</button>
                <i class=" fa-css3-alt css"></i>
              </div>
              <div class="box">
                <h3>Google</h3>
                <p>80% - Filled</p>
                <button>Apply</button>
                <i class=" fa-css3-alt css"></i>
              </div>
              <div class="box">
                <h3>Google</h3>
                <p>80% - Filled</p>
                <button>Apply</button>
                <i class=" fa-css3-alt css"></i>
              </div>
            </div>
          </div>
          <div class="allcourse" style="display: none;">
            <div class="course-box">
              <ul>
                <li>In progress Companies</li>
                <li class="active">Explore Other Companies</li>
                <li>Upcoming Companies</li>
                <li>Finished Companies</li>
              </ul>
              <div class="course">
                <div class="box">
                  <h3>Amazon</h3>
                  <p>80% - Filled</p>
                  <button>Apply</button>
                  <i class=" fab fa-css3-alt css"></i>
                </div>
                <div class="box">
                  <h3>Microsoft</h3>
                  <p>80% - Filled</p>
                  <button>Apply</button>
                  <i class=" fa-css3-alt css"></i>
                </div>
                <div class="box">
                  <h3>Apple</h3>
                  <p>80% - Filled</p>
                  <button>Apply</button>
                  <i class=" fa-css3-alt css"></i>
                </div>
                <div class="box">
                  <h3>Google</h3>
                  <p>80% - Filled</p>
                  <button>Apply</button>
                  <i class=" fa-css3-alt css"></i>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </main>


    <section class="main2">
      <main>
        <div class="head-title">
          <div class="left">
            <h1>UpdateProfile</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class='bx bx-chevron-right'></i></li>
              <li>
                <a class="active" href="#">UpdateProfile</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="table-data">
          <div class="container">
            <div class="title">Update Profile</div>
            <div class="content">
              <form action="#">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="text" placeholder="Confirm your password" required>
                  </div>
                </div>
                <div class="gender-details">
                  <input type="radio" name="gender" id="dot-1">
                  <input type="radio" name="gender" id="dot-2">
                  <input type="radio" name="gender" id="dot-3">
                  <span class="gender-title">Gender</span>
                  <div class="category">
                    <label for="dot-1">
                      <span class="dot one"></span>
                      <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                      <span class="dot two"></span>
                      <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                      <span class="dot three"></span>
                      <span class="gender">Prefer not to say</span>
                    </label>
                  </div>
                </div>
                <div class="button">
                  <input type="submit" value="Update">
                </div>
              </form>
            </div>
          </div>
        </div>

      </main>
    </section>

    <!-- MAIN -->

    <!-- FOOTER -->

    <!-- FOOTER -->
  </section>
  <!-- CONTENT -->


  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-PNipbVf75jGL9nK4W0lm5gC6fcvgjiMMYGeXQmL3ZhzLwArvLZaCn9p41MmPmDBSKtQDzFBQ30kUhZBmUo2ttw=="
    crossorigin="anonymous"></script>
  <script src="js/StudentDashboard.js"></script>
  <script>
    document.querySelector('.side-menu li:nth-child(2) a').addEventListener('click', function (event) {
      event.preventDefault();
      document.querySelector('main').style.display = 'none';
      document.querySelector('.main2').style.display = 'block';
    });

    document.querySelector('.side-menu li:nth-child(1) a').addEventListener('click', function (event) {
      event.preventDefault();
      document.querySelector('main').style.display = 'block';
      document.querySelector('.main2').style.display = 'none';
    });


    document.querySelector('.course-box ul li:nth-child(2)').addEventListener('click', function (event) {
      event.preventDefault();
      document.querySelector('.course-box').style.display = 'none';
      document.querySelector('.allcourse').style.display = 'block';
    });

    document.querySelector('.course-box ul li:nth-child(1)').addEventListener('click', function (event) {
      event.preventDefault();
      document.querySelector('.course-box').style.display = 'block';
      document.querySelector('.allcourse').style.display = 'none';
    });


  </script>
  <!-- SCRIPTS -->

</body>

</html>