/* === Google Font === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* === Reset Styles === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* === Variables Definition === */
:root {
    --primary-color: #3525D3;
    --white-color: #fff;
    --black-color: #3C4A57;
    --light-gray: #E4E8EE;
}

/* === Body CSS === */
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* === Main Content CSS === */
.wrapper {
    padding: 50px 25px 0;
    max-width: 668px;
    width: 100%;
    margin: auto;
}

/* Background Image */
.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/images/bg-1.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}

/* Headline */
.wrapper .headline {
    text-align: center;
    padding-bottom: 48px;
}

.wrapper .headline h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

/* Form Styles */
.wrapper .form {
    max-width: 540px;
    width: 100%;
    margin: auto;
}

.wrapper .form-group {
    margin-bottom: 15px;
}

.wrapper .form-group input {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding: 11px 15px;
    height: 48px;
    border-radius: 5px;
    color: var(--black-color);
    border: 1px solid #e4e8ee;
    box-shadow: none;
    width: 100%;
}

.wrapper .form-group input:focus {
    outline: none;
}

.wrapper .form-group input::placeholder {
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
}

/* Button Styles */
.wrapper .btn {
    width: 100%;
    margin: 15px 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding: 12px 29px;
    height: 48px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.wrapper .btn:focus {
    outline: none;
}

/* Account Exist Styles */
.wrapper .account-exist {
    color: var(--black-color);
    border-top: 1px solid var(--light-gray);
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.wrapper .account-exist a {
    color: var(--primary-color);
}

/* Forget Password Styles */
.wrapper .forget-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.wrapper .forget-password a {
    color: var(--primary-color);
}

.wrapper .forget-password .check-box {
    font-size: 15px;
    color: var(--black-color);
}

/* Signup and Signin Styles */
.signup.inActive {
    display: none;
}

.signin {
    display: none;
}

.next {
    display: none;
}

.signin.active {
    display: block;
}

.next.active {
    display: block;
}

/* Media Queries for Mobile */
@media (max-width: 1030px) {
    .wrapper::before {
        left: -25%;
        min-height: 60vh;
        height: 500px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        max-width: 550px;
    }

    .wrapper .headline h1 {
        font-size: 22px;
        line-height: 25px;
    }
}

/* Form Fieldset Styles */
fieldset {
    padding: 20px;
    border: 2px solid #3525D3;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Legend Styles */
fieldset legend {
    color: #3525D3;
    font-weight: bolder;
}

/* Input Styles */
.form-group input {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e4e8ee;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #3525D3;
}

/* Plus Button Styles */
.plus {
    display: block;
    font-size: 24px;
    line-height: 1;
    color: blue;
    transition: transform 0.3s;
}

#addInputButton {
    border: 2px solid blue;
    height: 27px;
    width: 28px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, border 0.3s;
}

/* Plus Button Hover Effect */
#addInputButton:hover {
    background-color: blue;
    border-color: white;
}

#addInputButton:hover .plus {
    color: white;
    transform: scale(1.2);
}

/* Plus Button Responsiveness */
@media (max-width: 767px) {
    #addInputButton {
        width: 40px;
        height: 40px;
    }
}
