.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button{
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}
.wrapper{
  position: relative;

  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .icon{
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}
.wrapper .icon i{
  position: relative;
  z-index: 9;
}
.wrapper .icon.arrow{
  left: 15px;
}
.wrapper .icon.dots{
  right: 15px;
}
.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name{
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .social-icons{
  margin: 15px 0 25px 0;
}
.social-icons a{
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
}
.social-icons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.social-icons a.fb i{
  color: #4267B2;
}
.social-icons a.twitter i{
  color: #1DA1F2;
}
.social-icons a.insta i{
  color: #E1306C;
}
.social-icons a.yt i{
  color: #ff0000;
}
.wrapper .buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}
.buttons button:first-child{
  margin-right: 10px;
}
.buttons button:last-child{
  margin-left: 10px;
}
.wrapper .social-share{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}
.social-share .row{
  color: #31344b;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
.social-share .row::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}
.row:first-child::before{
  background: none;
}
.social-share .row i.icon-2{
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
  opacity: 1;
  pointer-events: auto;
}



/* job parts */

.main-course {
    margin-top: 20px;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .course-box {
    width: 50%;
    height: 490px;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    overflow: auto;
  
  }
  
  .course-box ul{
    list-style: none;
    display: flex;
  }
  .course-box ul li{
    margin: 10px;
    color: gray;
    cursor: pointer;
  }
  .course-box ul .active{
    color: #000;
    border-bottom: 1px solid #000;
  }
  .course-box .course{
    display: flex;
  }
  .box {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* remove top shadow */
    transition: box-shadow 0.3s;
    height:249px;
  }
  
  .box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  
  
  .box p{
    font-size: 12px;
    margin-top: 5px;
  }
  .box button{
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
  }
  .box button:hover{
    background: rgba(0, 0, 0, 0.842);
  }
  .box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
  }
  .html{
    color: rgb(25, 94, 54);
  }
  .css{
    color: rgb(104, 179, 35);
  }
  .js{
    color: rgb(28, 98, 179);
  }
  
  


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Media Queries */
@media screen and (max-width: 600px) {
    .switch {
      width: 40px;
      height: 15px;
   
    }
  
    .slider:before {
      height: 12px;
      width: 18px;
      left: 2px;
      bottom: 2px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .switch {
      width: 30px;
      height: 12px;

    }
  
    .slider:before {
      height: 10px;
      width: 14px;
      left: 1px;
      bottom: 1px;
    }
  }


  @media screen and (max-width: 600px) {
    .switch {
      width: 40px;
      height: 15px;
 
    }
  
    .slider:before {
      height: 12px;
      width: 18px;
      left: 2px;
      bottom: 2px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1035px) {
    .switch {
      width: 59px;
      height: 26px;

    }
  
    .slider:before {
      height: 16px;
      width: 24px;
      left: 6px;
      bottom: 6px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .switch {
      width: 30px;
      height: 12px;
 
    }
  
    .slider:before {
      height: 10px;
      width: 14px;
      left: 1px;
      bottom: 1px;
    }
  }










/* css for update student */

.mainDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
.cardStyle {
  width: 500px;
  height: fit-content;
  border-color: white;
  background: #ceced1;
  padding: 36px 0;
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}
#signupLogo {
max-height: 100px;
margin: auto;
display: flex;
flex-direction: column;
}
.formTitle{
font-weight: 600;
margin-top: 20px;
color: #2F2D3B;
text-align: center;
}
.inputLabel {
font-size: 12px;
color: #555;
margin-bottom: 6px;
margin-top: 24px;
}
.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
input {
height: 40px;
font-size: 16px;
border-radius: 4px;
border: none;
border: solid 1px #ccc;
padding: 0 11px;
}
input:disabled {
cursor: not-allowed;
border: solid 1px #eee;
}
.buttonWrapper {
margin-top: 40px;
}
.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: blue;
  border-color: blue;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.submitButton:disabled,
button[disabled] {
border: 1px solid #cccccc;
background-color: #cccccc;
color: #666666;
}

.cardStyle1 {
  width: 100%;
  height: fit-content;
  border: 0px solid;
  background: #ceced1;
  padding: 46px 0;
  border-radius: 8px;
  margin: 30px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.center {
  border: 2px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
} 

/* Styles for mobile phones (up to 480px) */
@media (max-width: 480px) {
  .cardStyle {
    width: 100%; /* Adjust the card width for smaller screens */
  }
  .formTitle {
    font-size: 24px; /* Increase font size for the title on smaller screens */
  }
  .inputLabel {
    font-size: 14px; /* Adjust font size for input labels on smaller screens */
  }
  .input {
    font-size: 14px; /* Adjust font size for input fields on smaller screens */
  }
  .submitButton {
    width: 100%; /* Adjust the button width for smaller screens */
  }
}

/* Styles for tablets (from 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .cardStyle {
    width: 90%; /* Adjust the card width for tablet screens */
  }
  .inputDiv {
    width: 80%; /* Adjust the input div width for tablet screens */
  }
  .submitButton {
    width: 80%; /* Adjust the button width for tablet screens */
  }
}

/* Styles for desktop screens (769px and above) */
@media (min-width: 769px) {
  .cardStyle {
    width: 500px; /* Reset the card width for desktop screens */
  }
  .inputDiv {
    width: 70%; /* Reset the input div width for desktop screens */
  }
  .submitButton {
    width: 70%; /* Reset the button width for desktop screens */
  }
  .formTitle {
    font-size: initial; /* Reset the font size for the title on desktop screens */
  }
  .inputLabel {
    font-size: initial; /* Reset the font size for input labels on desktop screens */
  }
  .input {
    font-size: initial; /* Reset the font size for input fields on desktop screens */
  }
}
