      /* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Blog
8. Contact
9. Footer
-------------------- */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #4458dc;
    --scroll-bar: #fff;
    --secondary-color: #854fee;
    --bg-white: #fff;
    --bg-light: #faf8ff;
    --bg-black: #000;
    --bg-gray: #eee;
    --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);

    /* Text Color */
    --primary-text: #4458dc;
    --secondary-text: #854fee;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #777;

    /* Font Family */
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--secondary-font);
    width: 100%;
    background-image: url('../images/body-bg.png.webp');
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
}

section {
    padding: 5rem 0;
}

.main-btn {
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
    border: double 0.125rem transparent;
    padding: 0 2.0625rem;
    transition: all .3s ease-in-out;
    --webkit-transition: all .3s ease-in-out;
}

.primary-btn {
    background-image: var(--gradient);
    color: var(--text-white);
}

.primary-btn:hover {
    border-color: var(--secondary-color);
    background: var(--bg-white);
    color: var(--secondary-text);
    box-shadow: none;
}

.secondary-btn {
    background-image: var(--bg-white);
    color: var(--secondary-text);
    border-color: var(--secondary-color);
}

.secondary-btn:hover {
    background: var(--gradient);
    color: var(--text-white);
    box-shadow: none;

}

h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 1.25rem;
    font-family: var(--primary-font);
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.4375rem;
    margin-bottom: 1.5625rem;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h3 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: var(--text-black);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h5 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
    color: var(--text-black);
}

p {
    color: var(--text-gray);
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
}


/* 2 Navbar */
.header_wrapper .navbar {
    padding: 0.9375rem 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width:18rem;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 0.625rem;
}

.header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-black);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
}

/* 3 Banner */
.banner_wrapper {
    padding-top: 6.875rem;
    z-index: 1;
    background-image: url('../images/home-banner.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.banner_wrapper .col-lg-7 {
    vertical-align: middle;
    align-self: center;
}

/* .banner_wrapper .banner-content h2::after {
    content: '';
    width: 60%;
    height: 0.125rem;
    position: absolute;
    top: 50%;
    left: 25%;
    background: var(--bg-black);
    overflow-x: hidden;
} */

/* 4 About */
.about_wrapper .single-logo-item {
    width: 100%;
    height: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.0625rem solid var(--bg-gray);
    box-shadow: none;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.about_wrapper .single-logo-item:hover {
    border: 0.0625rem solid transparent;
    box-shadow: 0 0.5rem 1.875rem rgb(118 85 225 / 15%);
}

.about_wrapper .client-info {
    padding: 1.5625rem 1.875rem;
    background: var(--bg-light);
    position: relative;
    margin-top: 1.5625rem;
}

.about_wrapper .client-info:before {
    content: '';
    position: absolute;
    top: -1.5625rem;
    left: -3.4375rem;
    background: url('../images/client-info.webp');
    background-repeat: no-repeat;
    height: 10.9375rem;
    width: 10.9375rem;
}

.client-info .large {
    color: var(--secondary-text);
    font-family: var(--primary-font);
    font-size: 6.25rem;
    font-weight: 700;
    position: relative;
    z-index: 9;
}

.client-info .smll {
    text-align: left;
    color: var(--text-black);
    font-family: var(--primary-font);
    font-size: 1.25rem;
    margin-left: 1.25rem;
    font-weight: 500;
}

.call-now span {
    font-size: 3.75rem;
    font-weight: 700;
    color: #000;
}

.call-now p {
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
}
/* 8 contact */
.newsletter {
    width: 100%;
    height: 100%;
    background-image: url('../images/subscribe-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 9.375rem 0;
}

.newsletter input {
    line-height: 3rem;
    padding: 0 1.5625rem;
    border: 0.125rem solid var(--bg-white);
    background: transparent;
    font-weight: 400;
    border-radius: 0.3125rem;
    color: var(--text-white);
}

.form-control:focus {
    color: var(--text-white);
    background-color: transparent;
    border-color: var(--bg-white);
    outline: 0;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--text-white);
}

/* footer */
.footer_wrapper .footer-logo img {
    max-width: 12.5rem;
    height: auto;
}

.footer_wrapper .social-icon li {
    margin: 0.375rem;
}

.footer_wrapper .social-icons a {
    line-height: 1.875rem;
    font-size: 1.5625rem;
    display: inline-block;
    color: var(--text-black);
    text-align: center;
    margin: 0 0.625rem;
}

.footer_wrapper .social-icons a:hover {
    color: var(--primary-color);
}

.footer_wrapper .copyright-text p {
    font-size: 0.6875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.footer_wrapper .footer-text a {
    color: var(--primary-color);
}

/*Responsive Design*/

@media (max-width: 1199.5px) {
    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2.1875rem;
    }

    h3 {
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }

    h5 {
        font-size: 1.0625rem;
    }

    /* blog */
    .blog_wrapper .blog_details {
        position: absolute;
        top: 0.3125rem;
        left: 0.3125rem;
        right: 0.3125rem;
        bottom: 0.3125rem;
    }
}

@media (max-width:991px) {

    /* 2 Navbar */

    .header-scrolled {
        height: auto;
    }

    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 0.9375rem;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
}

@media (max-width: 767px) {

    /* custom css */
    section {
        padding: 5rem 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    h3 {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }

    /* about */
    .client-info>div {
        justify-content: center;
    }

    .about_wrapper .client-info:before {
        top: 0.25rem;
        left: 2.8125rem;
    }
}

@media (max-width: 575.5px) {

    .blog_wrapper .blog_details {
        position: absolute;
        top: 2.1875rem;
        left: 2.1875rem;
        right: 2.1875rem;
        bottom: 2.1875rem;
    }
}

@media (max-width: 390px) {

    /* top banner */
    .banner_wrapper .banner-content h2::after {
        left: 34%;
    }
}
        
      