<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="css/Admin.css" />
    <link rel="stylesheet" href="css/simple-datatable.css" />
    <script src="js/simple-datatable.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('stats.ejs') %>
        </div>
      </body>
    </html>

    </div>
  </body>
</html>