<div class="insights">
  <!-- SALES -->
  <div class="sales">
    <span class="material-icons-sharp"> analytics </span>
    <div class="middle">
      <div class="left">
        <h3>Total Students</h3>
        <h1>---</h1>
      </div>
      <div class="progress">
        <svg>
          <circle cx="38" cy="38" r="36"></circle>
        </svg>
        <div class="number">
          <p>81%</p>
        </div>
      </div>
    </div>
    <small class="text-muted">This Year</small>
  </div>
  <!-- EXPENSES -->
  <div class="expenses">
    <span class="material-icons-sharp"> bar_chart </span>
    <div class="middle">
      <div class="left">
        <h3>Total Recjected students</h3>
        <h1>---</h1>
      </div>
      <div class="progress">
        <svg>
          <circle cx="38" cy="38" r="36"></circle>
        </svg>
        <div class="number">
          <p>62%</p>
        </div>
      </div>
    </div>
    <small class="text-muted">This Year</small>
  </div>
  <!-- INCOME -->
  <div class="income">
    <span class="material-icons-sharp"> stacked_line_chart </span>
    <div class="middle">
      <div class="left">
        <h3>Total Students selected for next round</h3>
        <h1>---</h1>
      </div>
      <div class="progress">
        <svg>
          <circle cx="38" cy="38" r="36"></circle>
        </svg>
        <div class="number">
          <p>44%</p>
        </div>
      </div>
    </div>
    <small class="text-muted">This Year</small>
  </div>
</div>