<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../../public/css/studentdash.css" />
    <link rel="stylesheet" href="../../public/css/studentdash2.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .progress {
        display: block;
      }
      .explore {
        display: none;
      }
    </style>


    <!-- <style>
      @media (max-width: 768px) {
  .fas fa-building {
    font-size: 100px;
    margin-left: 35%;
  }
}

@media (max-width: 576px) {
  .fas fa-building {
    font-size: 75px;
    margin-left: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1650px) {
  .fas fa-building {
    font-size: 125px;
    margin-left: 40%;
  }
}

    </style> -->

  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="../../public/images/images/favicon-16x16.png" alt="Logo" />
            <h2><span class="danger">Placement Helper</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a href="#" class="active">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Update</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>FeedBack</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> insights </span>
            <h3>Applied</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <main>
        <h1>Dashboard</h1>

        <div class="date">
          <input type="date" />
        </div>

        <div class="insights">



          <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
            </div>
            <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
            <div class="name">UserName</div>
            <div class="about">User@gmail.com</div>
            <div class="social-icons">
              <a href="#" class="fb"><i class="fab fa-github"></i></a>
              <a href="#" class="yt"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <!-- SALES -->
          <!-- <div class="sales">
            <span class="material-icons-sharp"> analytics </span>
            <div class="middle">
              <div class="left">
                <h3>Total Sales</h3>
                <h1>$25,024</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                  <p>81%</p>
                </div>
              </div>
            </div>
            <small class="text-muted"> Last 24 hours </small>
          </div> -->

          <!-- EXPENSES -->
          <div class="expenses">
         
            <span class="material-icons-sharp"> bar_chart </span>
            <div class="middle">
              <div class="left">
                <h3>Total Availble Comapnies</h3>
                <h1>110</h1>
                <i class="fas fa-building" style="
                font-size: 135px;
                margin-left: 50%;
                color: blue;
            "></i>
              </div>
            </div>
            <small class="text-muted">This year</small>
          </div>

          <!-- INCOME -->
          <div class="income">
            <span class="material-icons-sharp"> stacked_line_chart </span>
            <div class="middle">
              <div class="left">
                <h3>Total Eligble Comapnies</h3>
                <h1>88</h1>
                <i class="fas fa-thumbs-up"style="
                font-size: 135px;
                margin-left: 50%;
                color: blue;
            "></i>
              </div>
            </div>
            <small class="text-muted"> This year </small>
          </div>









        </div>
          <div class="recent-orders">
            <h2>Companies</h2>
            <div class="progress">
            <div class="course-box">
              <ul>
                <li class="active">In progress</li>
                <li id="exploreBtn">Explore</li>
                <li>incoming</li>
                <li>finished</li>
                <li></li>
                <li></li>
                <li>Eligible only</li>
                <li><label class="switch">
                  <input type="checkbox" id="toggle" onclick="showEligibleJobs(this)">
                  <span class="slider round"></span>
                </label></li>
              </ul>
              <div class="course">
                <div class="box">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-amazon" style="color: blue;"></i>
                </div>
              </div>
              <div class="course">
                <div class="box eligible">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-google" style="color: blue;"></i>
                </div>
              </div>

              <div class="course">
                <div class="box">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-apple" style="color: blue;"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="explore">
            <div class="course-box">
              <ul>
                <li id="progressbtn">In progress</li>
                <li id="exploreBtn" class="active">Explore</li>
                <li>incoming</li>
                <li>finished</li>
                <li></li>
                <li></li>
                <li>Eligible only</li>
                <li><label class="switch">
                  <input type="checkbox" id="toggle" onclick="showEligibleJobs(this)">
                  <span class="slider round"></span>
                </label></li>
              </ul>
              <div class="course">
                <div class="box">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-apple" style="color: blue;"></i>
                </div>
              </div>
              <div class="course">
                <div class="box eligible">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-google" style="color: blue;"></i>
                </div>
              </div>

              <div class="course">
                <div class="box">
                  <h3>Google</h3>
                  <p style="color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat molestiae non assumenda facere, id omnis eius praesentium dignissimos alias qui. Mollitia non ut earum libero neque doloribus natus recusandae dolorum!</p><br>
                  <strong >Role: Software Engineer</strong><br>
                  <strong >Package: 10-30 lacs</strong><br>
                  <button>Apply</button>
                  <i class="fab fa-apple" style="color: blue;"></i>
                </div>
              </div>
            </div>
          </div>















            <a href="#">Show All</a>
          </div>
          
      </main>

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp"> menu </span>
          </button>
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Username</b></p>
              <small class="text-muted">Student</small>
            </div>
            <div class="profile-photo">
              <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="profile photo">
            </div>
          </div>
        </div>

        <div class="recent-updates">
          <h2>Recent Updates</h2>
        
        </div>

        <div class="sales-analytics">
          <h2>SKills</h2>
          <div id="analytics">
      
          </div>
          <div class="item add-product">
            <div>
              <span class="material-icons-sharp"> add </span>
              <h3>Add Skills</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../public/js/constants/recent-order-data.js"></script>
    <script src="../../public/js/constants/update-data.js"></script>
    <script src="../../public/js/constants/sales-analytics-data.js"></script>
    <script src="../../public/js/StudentDashboard.js"></script>


    <script>
      function showEligibleJobs(toggle) {
        if (toggle.checked) {
          document.querySelectorAll(".box").forEach(function(box) {
            if (box.classList.contains("eligible")) {
              box.style.display = "block";
            } else {
              box.style.display = "none";
            }
          });
        } else {
          document.querySelectorAll(".box").forEach(function(box) {
            box.style.display = "block";
          });
        }
      }
      </script>
        <script>
          $(document).ready(function() {
            $('#exploreBtn').click(function() {
              $('.progress').hide();
              $('.explore').show();
            });
          });
        </script>
                <script>
                  $(document).ready(function() {
                    $('#progressbtn').click(function() {
                      $('.explore').hide();
                      $('.progress').show();
                    });
                  });
                </script>
  </body>
</html>
