<div class="top">
    <button id="menu-btn">
      <span class="material-icons-sharp"> Menu </span>
    </button>
    <div class="profile">
      <div class="info">
        <p>Hey, <b>Placment Cordinator</b></p>
        <small class="text-muted">Admin</small>
      </div>
      <div class="profile-photo">
        <img src="/images/profile-1.jpg" alt="Profile Picture" />
      </div>
    </div>
  </div>