<div class="recent-updates">
    <h2>Recent Updates</h2>
    <div class="updates">
      <div class="update">
      <%for(var i=0; i<notice.length; i++){ %>
        <div class="profile-photo">
          <img src= "/images/profile-1.jpg" />
        </div>
        <div class="message">
          <p><b><%= notice[i].title %></b> <%= notice[i].notice %></p>
          <small class="text-muted">2 Minutes Ago</small>
        </div>
    <% } %>
  </div>
  </div>
</div>