<div class="applied">
    <main>
        <h1>Applied Companies</h1>
        <input type="text" id="searchInput1" placeholder="Search by Company Name">
        <div class="recent-orders" style="overflow-y: auto; max-height: 356px; ">
            <table id="verified" >
                <thead>
                    <tr>
                        <th class="sortable" style="font-size: 18px;">ID</th>
                        <th class="sortable" style="font-size: 18px;">Company Name</th>
                        <th class="sortable" style="font-size: 18px;">Role</th>
                        <th class="sortable" style="font-size: 18px;">Package</th>
                    </tr>
                </thead>
                <tbody id="tableBody1">
                    <% for(var i=0; i<cStudent.length; i++){ %>
                    <tr style="border: 1px solid #ddd;">
                        <td ><%= i+1 %></td>
                        <td ><%= cStudent[i].name %></td>
                        <td >Software Engineer</td>
                        <td ><%= cStudent[i].package %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script>
  document.getElementById('searchInput1').addEventListener('input', function () {
      const searchValue = this.value.toLowerCase();
      const tableBody = document.getElementById('tableBody1');
      const rows = tableBody.getElementsByTagName('tr');

      for (let i = 0; i < rows.length; i++) {
          const companyName = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

          if (companyName.includes(searchValue)) {
              rows[i].style.display = '';
          } else {
              rows[i].style.display = 'none';
          }
      }
  });
</script>
