<div class="applied">
    <main>
        <h1>Applied Companies</h1>
        <div class="recent-orders">
            <input type="text" id="searchInput1" placeholder="Search by Company Name">
            <table id="verified" style="width: 100%; border-collapse: collapse; margin-top: 20px;" >
                <thead>
                    <tr style="background-color: #f2f2f2;">
                        <th class="sortable" style="padding: 10px; text-align: left; border: 1px solid #ddd;">ID</th>
                        <th class="sortable" style="padding: 10px; text-align: left; border: 1px solid #ddd;">Company Name</th>
                        <th class="sortable" style="padding: 10px; text-align: left; border: 1px solid #ddd;">Role</th>
                        <th class="sortable" style="padding: 10px; text-align: left; border: 1px solid #ddd;">Package</th>
                    </tr>
                </thead>
                <tbody id="tableBody1">
                    <% for(var i=0; i<cStudent.length; i++){ %>
                    <tr style="border: 1px solid #ddd;">
                        <td style="padding: 10px; text-align: left;"><%= i+1 %></td>
                        <td style="padding: 10px; text-align: left;"><%= cStudent[i].name %></td>
                        <td style="padding: 10px; text-align: left;">Software Engineer</td>
                        <td style="padding: 10px; text-align: left;"><%= cStudent[i].package %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
</div>

<script>
  document.getElementById('searchInput1').addEventListener('input', function () {
      const searchValue = this.value.toLowerCase();
      const tableBody = document.getElementById('tableBody1');
      const rows = tableBody.getElementsByTagName('tr');

      for (let i = 0; i < rows.length; i++) {
          const companyName = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

          if (companyName.includes(searchValue)) {
              rows[i].style.display = '';
          } else {
              rows[i].style.display = 'none';
          }
      }
  });
</script>
