<div class="recent-orders">
    <h2>Companies</h2>
    <%- include('progressCompany.ejs') %>
    <%- include('allcomapny.ejs') %>
    <%- include('incomingcompany.ejs') %>
    <%- include('eligible.ejs') %>
  </div>