<div class="incoming" style="display: none;">
    <div class="course-box">
      <ul>
        <li id="progressbtn">In progress</li>
        <li id="exploreBtn" >Explore</li>
        <li id="incomingbtn" class="active">Incoming</li>
        <li>Finished</li>
        <li></li>
        <li></li>
        <li>Eligible only</li>
        <li><label class="switch">
          <input type="checkbox" id="toggle" onclick="showEligibleJobs(this)">
          <span class="slider round"></span>
          </label>
        </li>
      </ul>
      <% for(var i=0; i<companyPast.length; i++){ %>
      <% var current = new Date(); %>
      <% if(companyPast[i].startingDate > current){ %>
      <div class="course">
        <div class="box ">
          <h3 
          <h3 style="font-size: 31px";><%= companyPast[i].name %></h3>
          <p style="color: black;"><%= companyPast[i].description %></p>
          <br>
          <strong >Role: Software Engineer</strong><br>
          <strong >Package: <%= companyPast[i].package %></strong><br>
          <button style="background-color: blue;">Not Available Now</button>
        </div>
      </div>
      <% } %>
      <% } %>
    </div>
  </div>