<aside>
    <div class="top">
      <div class="logo">
        <img src="../images/favicon-16x16.png" alt="Logo" />
        <h2><span class="danger">Placement Helper</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp"> close </span>
      </div>
    </div>
    <div class="sidebar"  onclick="changeActiveLink(this)">
      <a href="#" class="active">
        <span class="material-icons-sharp"> dashboard </span>
        <h3>Dashboard</h3>
      </a>
      <a href="#"  onclick="changeActiveLink(this)">
        <span class="material-icons-sharp"> person_outline </span>
        <h3>Update</h3>
      </a>
      <a href="#" onclick="changeActiveLink(this)">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3>Applied</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3>FeedBack</h3>
      </a>
      <a href="/logout">
        <span class="material-icons-sharp"> logout </span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>