<div class="addAdmin">
    <main>
      <div class="recent-orders" style="margin-top:200px;">
        <div>
          <section class="container-form">
            <!-- <header>Registration Form</header> -->
            <form action="/adminRegister" method="post" class="form" style="margin-top:0px;">

              <div class="input-box">
                <label>Email</label>
                <input type="email" placeholder="Enter email" name="email" required />
              </div>
      
              <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Enter Password" name = "password" required />
              </div>
              <div class="input-box">
                <label>Confirm Password</label>
                <input type="password" placeholder="Enter Password" name = "cpassword" required />
              </div>
              <button type="submit">Submit</button>
            </form>
            </section>
        </div>
      </div>
    </main>
  </div>