<div class="addCompanyExcel">
    <main>
      <div class="recent-orders" style="margin-top:200px;">
        <div>
          <section class="container-form">
            <!-- <header>Registration Form</header> -->
            <form action="/adminRegister" method="post" class="form" style="margin-top:0px;">

              <h1> hello </h1>
            </form>
            </section>
        </div>
      </div>
    </main>
  </div>