<div class="addNotice">

    <main>
      <div class="recent-orders" style="margin-top:200px;">
        <div>
          <section class="container-form">
            <!-- <header>Registration Form</header> -->
            <form action="/Notice" method="post" class="form" style="margin-top:0px;">

              <div class="input-box">
                <label>Title</label>
                <input type="text" placeholder="Enter a Title" name="title" required />
              </div>
      
              <div class="input-box">
                <label>Notice</label>
                <input type="text" id="email" placeholder="Enter Notice here" name = "notice" required />
                <span id="emailError" style="color: red;"></span>
              </div>
              <button id="submitBtn" type="submit">Submit</button>
            </form>
            </section>
        </div>
      </div>
    </main>
  </div>
